@import "tailwindcss";
@import "@nuxt/ui";

@theme inline {
  --font-display: 'Permanent Marker', cursive;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.logo {
  font-family: 'Permanent Marker', cursive;
  color: #ff5733;
}

.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.font-permanentmarker {
  font-family: 'Permanent Marker', cursive;
}

.font-mavenpro {
  font-family: 'Maven Pro', sans-serif;
}
